@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'BBH Hegarty', sans-serif;
  background: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
}
