/* ROBOT.GIF from Giphy - https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExa2V1dXZmazk1aGo1bTJjOWhpYWZqd2hxaWJmb2Y2MzZvazFhaDFmOSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/zbzuZgxt23h8ywu7Bm/giphy.gif */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./Dance\ Party\ GIF\ by\ HeyAuto.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  background: skyblue;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

/* media query: tablet or smaller */
@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
  }
}
